<!DOCTYPE html>
{% load staticfiles %}
{% load cloudinary %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navigation-with-Button1.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/MaterialIcons-Regular.eot' %}">
    <link rel="stylesheet" href="{% static 'css/MaterialIcons-Regular.ttf' %}">
    <link rel="stylesheet" href="{% static 'css/MaterialIcons-Regular.woff' %}">
    <link rel="stylesheet" href="{% static 'css/MaterialIcons-Regular.woff2' %}">
    <link rel="stylesheet" href="{% static 'css/MaterialIcons-Regular.svg' %}">


</head>

<body>
<div>
    <nav class="navbar navbar-default navigation-clean-button" style="background-color:#ffc107;">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Shojo Airlines</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-left">
                    <li role="presentation" data-bs-hover-animate="pulse"><a href="home.jsp"
                                                                             style="color:rgb(137,13,73);font-size:20px;">Home </a>
                    </li>

                    <li role="presentation" data-bs-hover-animate="pulse"><a href="booking.jsp"
                                                                             style="color:rgb(137,13,73);font-size:20px;">Book </a>
                    </li>
                    <li role="presentation" data-bs-hover-animate="pulse"><a href="about.html"
                                                                             style="color:rgb(137,13,73);font-size:20px;">About </a>
                    </li>
                </ul>
                <p class="navbar-text navbar-right actions" style="font-size:20px;"><a class="navbar-link login"
                                                                                       href="signin.jsp"
                                                                                       style="padding:30px;">Customer</a>
                    <a class="btn btn-default action-button" role="button" href="signup.html"
                       style="font-size:20px;background-color:#eb3b60;">Sign Out</a></p>
            </div>
        </div>
    </nav>
</div>
<div style="text-align:center;padding:40px;background:url(&quot;assets/img/plane.jpg&quot;)no-repeat;background-size:cover;">
    <div class="jumbotron"
         style="border-radius:20px;padding:40px;background:rgba(255,255,255,0.75);margin-top:100px;text-align:center;position:relative;">
        <div class="table-responsive" style="text-align:center;position:relative;">
            <table class="table">
                <thead style="text-align:center;">

                <tr>
                    <th style="text-align:center;">Room</th>
                    {#                    <th style="text-align:center;">Room View</th>#}
                    <th style="text-align:center;"><strong>Room View</strong></th>
                    <th style="text-align:center;"><strong>Room View</strong></th>
                    <th style="text-align:center;"><strong>Total Price</strong></th>
                    {#                    <th style="text-align:center;">Class</th>#}
                    {#                    <th style="text-align:center;"><strong>Total Price</strong></th>#}
                </tr>
                </thead>
                <tbody>
                {% for room in rooms_data %}
                    <tr>
                        <td><h5>{{ room.0.type.name }}</h5></td>
                        {#                        <td><h5><img class="img-responsive" id="r1" src="{{ room.1.url.url }}" style="width:300px;height:300px;"></h5></td>#}
                        <td>
                            <h5>{% cloudinary room.1.url.public_id class="img-responsive" id="r1" width=300 height=300 crop="fill" %}</h5>
                        </td>
                        {#                        <td><h5><img class="img-responsive" id="r2" src="{{ room.2.url.url }}" style="width:300px;height:300px;"></h5></td>#}
                        <td><h5>
                            {% if room.0.type.pool_service %}
                                <i class="material-icons">pool</i>
                            {% endif %}
                            {% if room.0.type.room_service %}
                                <i class="material-icons">room_service</i>
                            {% endif %}
                            {% if room.0.type.minibar_service %}
                                <i class="material-icons">local_bar</i>
                            {% endif %}
                            {% if room.0.type.breakfast_service %}
                                <i class="material-icons">free_breakfast</i>
                            {% endif %}
                            {% if room.0.type.laundry_service %}
                                <i class="material-icons">local_laundry_service</i>
                            {% endif %}
                            {% if room.0.type.wifi_service %}
                                <i class="material-icons">wifi</i>
                            {% endif %}

                        </h5></td>
                        <td><h5>{{ room.3 }}</h5></td>

                        <td>
                            <form method="post" action="{% url 'bookroom' %}">
                                {% csrf_token %}
                                <input type="text" hidden name="roomid" value="{{ room.0.room_no }}">
                                <input type="text" hidden name="days" value="{{ Days }}">
                                <input type="text" hidden name="checkin" value="{{ check_in }}">
                                <input type="text" hidden name="checkout" value="{{ check_out }}">
                                <button type="submit">Book Seats</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <form></form>
    </div>
</div>
<footer style="height:180px;margin-top:10px;background-color:rgb(255,165,0);">
    <div class="row">
        <div class="col-md-4 col-sm-6 footer-navigation">
            <h3><a href="#" style="color:#1f2021;">Shojo Airlines</a></h3>
            <p class="company-name" style="color:#1f2021;">Shojo Airlines© 1985</p>
        </div>
        <div class="col-md-4 col-sm-6 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p style="color:#1f2021;"><span class="new-line-span">21 Milaad Street</span> Lahore, Pakistan</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left" style="color:#1f2021;"> +1 555 123456</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p style="color:#1f2021;"> support@shojo.com</p>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 footer-about">
            <h4 style="color:#1f2021;">About the company</h4>
            <p style="color:#1f2021;"> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis
                velit, eu auctor lacus vehicula sit amet.
            </p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                    class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>
</body>

</html>
